<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mejust.merchant.dao.MerchantMemberMapper">
  <resultMap id="BaseResultMap" type="com.mejust.merchant.model.MerchantMember">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="cardno" jdbcType="CHAR" property="cardno" />
    <id column="merchantno" jdbcType="CHAR" property="merchantno" />
    <result column="integralamount" jdbcType="DECIMAL" property="integralamount" />
    <result column="m_money_ele" jdbcType="DECIMAL" property="mMoneyEle" />
    <result column="m_money_ele_date" jdbcType="TIMESTAMP" property="mMoneyEleDate" />
    <result column="integraltype" jdbcType="CHAR" property="integraltype" />
    <result column="memgrade" jdbcType="SMALLINT" property="memgrade" />
    <result column="memgradedate" jdbcType="TIMESTAMP" property="memgradedate" />
    <result column="createdate" jdbcType="TIMESTAMP" property="createdate" />
    <result column="saleamount" jdbcType="DECIMAL" property="saleamount" />
    <result column="salecount" jdbcType="INTEGER" property="salecount" />
  </resultMap>
</mapper>