<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mejust.merchant.dao.MerchantGoodsInfoMapper">
  <resultMap id="BaseResultMap" type="com.mejust.merchant.model.MerchantGoodsInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="barcode" jdbcType="CHAR" property="barcode" />
    <result column="goodssku" jdbcType="VARCHAR" property="goodssku" />
    <result column="goodsname" jdbcType="VARCHAR" property="goodsname" />
    <result column="merchantno" jdbcType="CHAR" property="merchantno" />
    <result column="saleunit" jdbcType="CHAR" property="saleunit" />
    <result column="pricetype" jdbcType="CHAR" property="pricetype" />
    <result column="saleprice" jdbcType="DECIMAL" property="saleprice" />
    <result column="modeltype" jdbcType="CHAR" property="modeltype" />
    <result column="model" jdbcType="VARCHAR" property="model" />
    <result column="category_d" jdbcType="CHAR" property="categoryD" />
    <result column="promstate" jdbcType="CHAR" property="promstate" />
    <result column="promtype" jdbcType="CHAR" property="promtype" />
    <result column="promsaleprice" jdbcType="DECIMAL" property="promsaleprice" />
    <result column="dissale" jdbcType="CHAR" property="dissale" />
    <result column="dissale_re" jdbcType="DECIMAL" property="dissaleRe" />
    <result column="salestate" jdbcType="CHAR" property="salestate" />
    <result column="promsupplierno" jdbcType="CHAR" property="promsupplierno" />
  </resultMap>
</mapper>