<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mejust.merchant.dao.MerchantMimoneyPayMapper">
  <resultMap id="BaseResultMap" type="com.mejust.merchant.model.MerchantMimoneyPay">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="billno" jdbcType="CHAR" property="billno" />
    <result column="paydate" jdbcType="TIMESTAMP" property="paydate" />
    <result column="payno" jdbcType="CHAR" property="payno" />
    <result column="merchantno" jdbcType="CHAR" property="merchantno" />
    <result column="payamount" jdbcType="DECIMAL" property="payamount" />
  </resultMap>
</mapper>